name: CI Frontend
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: '8'
      - name: Install
        run: |
          cd frontend && pnpm install
      - name: Build
        run: |
          cd frontend && pnpm build
